{
    "debug" : true,
    "listen" : { 
        "prot" : "https",
        "addr" : "localhost",
        "port" : 3000
    },
    "discovery" : {
        "rs" : "https://openig.psd2acceldemo.fridam.aeet-forgerock.com/obRSDiscovery/",
        "as" : "https://openig.psd2acceldemo.fridam.aeet-forgerock.com/oauth2/realms/root/realms/openbanking/.well-known/openid-configuration"
    },
    "signingservice" : "https://jwkms.ob.forgerock.financial:443/api/crypto/signClaims",
    "transportcert" : {
        "key" :  "/certs/transport.key",
        "cert" : "/certs/transport.pem"
    },
    "userdb" : "/userdb/users.json",
    "clientid" : "ac22c88a-c191-4f91-975b-a80cc4478105"
}
