{
    "debug" : true,
    "listen" : { 
        "addr" : "localhost",
        "port" : 3000
    },
    "discovery" : {
        "rs" : "https://openig.psd2acceldemo.fridam.aeet-forgerock.com/obRSDiscovery",
        "as" : "https://openig.psd2acceldemo.fridam.aeet-forgerock.com/oauth2/realms/root/realms/openbanking/.well-known/openid-configuration"
    },
    "signingservice" : "https://jwkms.ob.forgerock.financial:443/api/crypto/signClaims",
    "transportcert" : {
        "file" : "conf/transport.p12",
        "pass" : "Passw0rd"
    },
    "userdb" : "./userdb/users.json"
}
